<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/gkhyeghj07ak/3kIEE7ebtW9d3dY1IDoJ3b/4d8ef91795628d95936be2e03016d1ff/alianzas-cinema-comfama.jpeg?w=768&fm=jpg&fl=progressive&q=75);">
  <div class="container">
    <h1>Save your movies, anytime, anywhere.</h1>
    <p>Change the way you see movies on internet with this application.</p>
    <%= link_to 'Create a list', new_list_path, class: 'btn btn-flat' %>
  </div>
</div>
<div class="container">
  <h1 class="text-center m-3">Lists</h1>
  <div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image_url %>)">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
  </div>
</div>
